{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "globals": {
    "__": true,
    "APP_CONFIG": true
  },
  "rules": {
    "semi": [ "warn", "always" ],
    "quotes": [ "warn", "single" ],
    "jsx-quotes": ["warn", "prefer-single"],
    "strict": 0,
    "no-console": "warn",
    "no-debugger": "warn",
    "no-undef": "warn",
    "no-empty": "warn",
    "no-tabs": "warn",
    "no-lonely-if": "warn",
    "no-multiple-empty-lines": "warn",
    "curly": [ "error", "all" ],
    "no-duplicate-case": "error",
    "no-extra-boolean-cast": "error",
    "no-dupe-keys": "error",
    "no-dupe-args": "error",
    "no-unsafe-negation": "error",
    "indent": [
      "warn",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "comma-style": "warn",
    "block-spacing": "warn",
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "none",
        "ignore": ["React"]
      }
    ],
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-no-undef": 1,
    "react/react-in-jsx-scope": 1
  },
  "plugins": [
    "react"
  ]
}